<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="EXTERNALFOLDER">
            <Component Id="cmp65B503476026712597F0CA1730C04852" Guid="{8F405AD2-1D1F-4B27-B553-6CA5F79F4177}">
                <File Id="fil2F12A8B2D7D597F64478979A0B435D31" KeyPath="yes" Source="$(env.SRCMLBINDIR)\about.html" />
            </Component>
            <Component Id="cmp373A269C0D71F246D78F214BB166F0A5" Guid="{072DE682-89B2-4D8A-A7B1-8B1C777A9160}">
                <File Id="filD1D81BAF5BC84BC5F4A2A6605064D59D" KeyPath="yes" Source="$(env.SRCMLBINDIR)\bz2-1.dll" />
            </Component>
            <Component Id="cmp8DEE0C403580D5F9944298E43A363894" Guid="{F745999F-A67D-48C2-A4E3-B58BDCD75E24}">
                <File Id="filE7715F20753F1F7E00E0B0D3055E7183" KeyPath="yes" Source="$(env.SRCMLBINDIR)\gpl-2.0.html" />
            </Component>
            <Component Id="cmpD19D983E4B0343B1E7B93765A3F04755" Guid="{ABAF2E94-24B4-44D6-87D2-DFE82F94848C}">
                <File Id="filB68D2D08963617695F66657AA1B8AB59" KeyPath="yes" Source="$(env.SRCMLBINDIR)\iconv.dll" />
            </Component>
            <Component Id="cmp30A93AECD0CA039E9AE5D98CBADBD674" Guid="{85E120DA-C3FA-42D5-BCBF-146B10B32BBB}">
                <File Id="fil550E4EBA0F09A608DD58767D7EA9E37D" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libantlr2-0.dll" />
            </Component>
            <Component Id="cmpA8583F6BE1F5089036CF297B3112C138" Guid="{41C903E1-A57D-4C06-B77E-36AAA622B766}">
                <File Id="fil6E8B7991B77838AA3EC7E1209FCB9C6A" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libarchive-2.dll" />
            </Component>
            <Component Id="cmp1A0A3758011749BA538A8781E30B2BB5" Guid="{A4024286-13A7-4320-B1BF-D271AE981787}">
                <File Id="filA24ACFECB00C7C1BE0F3BA5B0EA61B00" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libexslt.dll" />
            </Component>
            <Component Id="cmp569929910DCEA9ECB7F2ECEBAE66D103" Guid="{F1E5BBFD-C9FA-4AF1-ACF7-84184676ECAD}">
                <File Id="fil88B6B65115281A3B2AC5EBEBDC4683A6" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libgcc_s_sjlj-1.dll" />
            </Component>
            <Component Id="cmp01E255B50B0A6930E4FC19E31BF3594C" Guid="{4D3F67CC-39CB-432B-9CAF-1A8887CF39F7}">
                <File Id="fil22D577B13ED8DE90C39FEE86DFB7048F" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libgcrypt-11.dll" />
            </Component>
            <Component Id="cmp8DEA23B61168BDF323BD73D87256A648" Guid="{A9F8B5BD-87CC-41C1-8815-4644BDFA42D1}">
                <File Id="fil62C667B156A519A919619AFFCCC72A2D" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libgnurx-0.dll" />
            </Component>
            <Component Id="cmpB115583121ACBBB31A2596C054455297" Guid="{63F9FDC4-5BB9-455E-A52F-ABBA045CC3B2}">
                <File Id="filB6D8432355C4F71BC08BFE91B0D248B3" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libgpg-error-0.dll" />
            </Component>
            <Component Id="cmp2A07978153470AE4425B2C2C239C6044" Guid="{D87243CB-9B86-48D9-AA31-9B8F851ADBF2}">
                <File Id="fil0DB8A17A170EDF75169BFBEA6936C1F5" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libsrcml.dll" />
            </Component>
            <Component Id="cmp841BB45150EBE679CB87F294C4B5B615" Guid="{99E492DE-A728-4BA2-8809-B54D3DC7A327}">
                <File Id="fil218EAB630CE36DA6DD763054EE9646BE" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libstdc++-6.dll" />
            </Component>
            <Component Id="cmp1FEBBD7DA31D7AB902DFEE71C20829C0" Guid="{F2FBD06F-8A0A-4DB9-909A-51B4A155B053}">
                <File Id="filA6CC81CCA110079DF70FE40E76C3238B" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libxml2.dll" />
            </Component>
            <Component Id="cmp414907459F923EA6B6AF0F0847B8D45E" Guid="{A935ACD3-3700-4B38-B603-574BA68C6C7C}">
                <File Id="filDEC347E10296FE8187712034D5D6A9DB" KeyPath="yes" Source="$(env.SRCMLBINDIR)\libxslt.dll" />
            </Component>
            <Component Id="cmpC79A90E61EFF091C15C6B0D4DF9FEBE4" Guid="{846465A3-704D-4387-9840-65A27395B1FA}">
                <File Id="fil20CA21C79DB6377007540892627A88D9" KeyPath="yes" Source="$(env.SRCMLBINDIR)\src2srcml.exe" />
            </Component>
            <Component Id="cmp6E78270BAE77D021DFD845F85CEAE194" Guid="{A258F2CA-1E10-4BAD-9762-05866C1B9543}">
                <File Id="filD86ADD10C9875001D37BD459B00BBFD9" KeyPath="yes" Source="$(env.SRCMLBINDIR)\src2srcml.html" />
            </Component>
            <Component Id="cmpF9BEB70ED56069B5449BA9D46BA31430" Guid="{3C5FFC59-0E21-49A8-A744-669B0DC578F7}">
                <File Id="fil14B8D6E670EB08513DD2154B5214A92D" KeyPath="yes" Source="$(env.SRCMLBINDIR)\srcml2src.exe" />
            </Component>
            <Component Id="cmpE56E1CD639B4C158D6DE28B182D634BB" Guid="{A6ABEADE-9D69-4163-9CAB-CD2F46A53E1E}">
                <File Id="filB4CED145644DCE3FC2BFF7A9A1204703" KeyPath="yes" Source="$(env.SRCMLBINDIR)\srcml2src.html" />
            </Component>
            <Component Id="cmp4584E27B6BF105EA5E9CABB4D8A5F0B2" Guid="{420EFEF5-5FE9-4C10-96A9-560BA37A176C}">
                <File Id="filD70795C53228901EB6BA583B0A1637D0" KeyPath="yes" Source="$(env.SRCMLBINDIR)\zlib1.dll" />
            </Component>
            <Directory Id="dirDA88507F754BE2F4A69B3C0D42CB6DED" Name="CSharp">
                <Component Id="cmpA45AAB33069AB598ADA62B41F397E00F" Guid="{7F9FEA2E-7BC1-4C49-A69E-520EC60D076C}">
                    <File Id="fil379BF1EE931D68093E5BEF9296DFB35F" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\bz2-1.dll" />
                </Component>
                <Component Id="cmp1BE9AA14F5D26AC67AC2F3965322A8D8" Guid="{24BB371B-C22A-45E4-B905-A275AA8AD977}">
                    <File Id="fil8192B0327D8B6ED7DAF2991AF519F1FC" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\iconv.dll" />
                </Component>
                <Component Id="cmp7F60DD34C0B5B7BC0BDEBF1A5B664C22" Guid="{2CF9949D-A83B-4A72-8FCC-D3A603351FEE}">
                    <File Id="fil3ACA9FFE36C4B92F57471866409DA9B0" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libantlr2-0.dll" />
                </Component>
                <Component Id="cmpACDA9752815D3A96AB452CB749D5E0DC" Guid="{818AAF15-32EE-4773-BA80-E74DC57CC193}">
                    <File Id="fil70CF4221883884CBB27B2ED21F560F47" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libarchive-2.dll" />
                </Component>
                <Component Id="cmp28082EA433970A813B069B23093454E2" Guid="{19FC6AE8-5A7E-42ED-A63D-B8FB31C56976}">
                    <File Id="fil535827B0F34F052B4F503DE8B5C4D20B" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libexslt.dll" />
                </Component>
                <Component Id="cmpDBFDD2F238C6F0ABCDF22B0BCC8BACF1" Guid="{0D79E91E-112A-43EC-A01E-44448A5D8C33}">
                    <File Id="fil77D54CFBA690AC61C851FBBA3510F4C9" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libgcc_s_sjlj-1.dll" />
                </Component>
                <Component Id="cmpFB69989376A3AA811D3218CCBD707069" Guid="{1CB11C96-8140-4506-BA76-9A3862F4EB0E}">
                    <File Id="fil90869CC7501FE8E4B6E30892F2FDA34E" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libgcrypt-11.dll" />
                </Component>
                <Component Id="cmp5F112DC8FEF898D312932CC98BC02C18" Guid="{A28F86F1-230C-476E-93DD-5120739B5CFE}">
                    <File Id="filB5D36718E71937A36103E4685B6B76DA" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libgnurx-0.dll" />
                </Component>
                <Component Id="cmpE8E67F4F3CAA94B20B01D8908C416BA3" Guid="{5AB39355-2D46-48AC-8DE4-1B7E6266C360}">
                    <File Id="fil01B58C670A5850ABA1B7DC5BEDCE3329" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libgpg-error-0.dll" />
                </Component>
                <Component Id="cmp413CE0E0856945C8344D78D40EB1D6FE" Guid="{BD44E1A1-1063-465C-A407-B4FE561F3154}">
                    <File Id="filE873816DB9223D5599D19808C0BEEAA4" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libsrcml.dll" />
                </Component>
                <Component Id="cmp14650183C4CC782769B4A578CE449C5F" Guid="{9C8E482E-B6E7-4F97-B047-4A795060A70C}">
                    <File Id="fil4BC4DE9D3BB8B3C964505C4533B041AF" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libstdc++-6.dll" />
                </Component>
                <Component Id="cmp07C741438ED3E5E64E734E60408EF1E0" Guid="{CC056220-38A9-4094-A039-5C9028994CC4}">
                    <File Id="filACEC370A41F677F83C2C0654749C7742" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libxml2.dll" />
                </Component>
                <Component Id="cmp55D28E328F2AFE29BD54760B629E6765" Guid="{8DC99709-BD73-411C-A899-0246DF2F45DD}">
                    <File Id="fil8DA0F839D5BD2C878056231B7BEB807C" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\libxslt.dll" />
                </Component>
                <Component Id="cmp43369FD8D9A3E67686EAD29E0BE7843A" Guid="{D549737B-EFCE-47D6-ABEA-5E1515660EA1}">
                    <File Id="fil26D4E989A3C99EF7378D26FEF10834E1" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\src2srcml.exe" />
                </Component>
                <Component Id="cmp2421A28F7212565BA2544CF417122EFE" Guid="{DEB090B2-112C-41CB-9EE8-BD413E263BB2}">
                    <File Id="fil876AE9C2FB6A21F05C503A188CFE2B5B" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\src2srcml.html" />
                </Component>
                <Component Id="cmp56FD567EA4C52EAE8A412C516F3DB28F" Guid="{AF1C1A81-2753-40CD-ACC8-FDBB883DD850}">
                    <File Id="filE80476E52A07BC6A3F0462ED7D017AF9" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\srcml2src.exe" />
                </Component>
                <Component Id="cmp97A4B954355C7405747F78D7B08026F8" Guid="{A12FAEE7-1580-47E3-A876-A0193C1CB61A}">
                    <File Id="fil380A38AC95F5733679C03B1129E49D32" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\srcml2src.html" />
                </Component>
                <Component Id="cmpB655303041B4177595C5CF444F6FC541" Guid="{2D8FB105-364A-48F8-9C4F-38424F8A7FBC}">
                    <File Id="fil7EAC37CE801506E8ED2325AF0A933EB9" KeyPath="yes" Source="$(env.SRCMLBINDIR)\CSharp\zlib1.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="External">
            <ComponentRef Id="cmp65B503476026712597F0CA1730C04852" />
            <ComponentRef Id="cmp373A269C0D71F246D78F214BB166F0A5" />
            <ComponentRef Id="cmp8DEE0C403580D5F9944298E43A363894" />
            <ComponentRef Id="cmpD19D983E4B0343B1E7B93765A3F04755" />
            <ComponentRef Id="cmp30A93AECD0CA039E9AE5D98CBADBD674" />
            <ComponentRef Id="cmpA8583F6BE1F5089036CF297B3112C138" />
            <ComponentRef Id="cmp1A0A3758011749BA538A8781E30B2BB5" />
            <ComponentRef Id="cmp569929910DCEA9ECB7F2ECEBAE66D103" />
            <ComponentRef Id="cmp01E255B50B0A6930E4FC19E31BF3594C" />
            <ComponentRef Id="cmp8DEA23B61168BDF323BD73D87256A648" />
            <ComponentRef Id="cmpB115583121ACBBB31A2596C054455297" />
            <ComponentRef Id="cmp2A07978153470AE4425B2C2C239C6044" />
            <ComponentRef Id="cmp841BB45150EBE679CB87F294C4B5B615" />
            <ComponentRef Id="cmp1FEBBD7DA31D7AB902DFEE71C20829C0" />
            <ComponentRef Id="cmp414907459F923EA6B6AF0F0847B8D45E" />
            <ComponentRef Id="cmpC79A90E61EFF091C15C6B0D4DF9FEBE4" />
            <ComponentRef Id="cmp6E78270BAE77D021DFD845F85CEAE194" />
            <ComponentRef Id="cmpF9BEB70ED56069B5449BA9D46BA31430" />
            <ComponentRef Id="cmpE56E1CD639B4C158D6DE28B182D634BB" />
            <ComponentRef Id="cmp4584E27B6BF105EA5E9CABB4D8A5F0B2" />
            <ComponentRef Id="cmpA45AAB33069AB598ADA62B41F397E00F" />
            <ComponentRef Id="cmp1BE9AA14F5D26AC67AC2F3965322A8D8" />
            <ComponentRef Id="cmp7F60DD34C0B5B7BC0BDEBF1A5B664C22" />
            <ComponentRef Id="cmpACDA9752815D3A96AB452CB749D5E0DC" />
            <ComponentRef Id="cmp28082EA433970A813B069B23093454E2" />
            <ComponentRef Id="cmpDBFDD2F238C6F0ABCDF22B0BCC8BACF1" />
            <ComponentRef Id="cmpFB69989376A3AA811D3218CCBD707069" />
            <ComponentRef Id="cmp5F112DC8FEF898D312932CC98BC02C18" />
            <ComponentRef Id="cmpE8E67F4F3CAA94B20B01D8908C416BA3" />
            <ComponentRef Id="cmp413CE0E0856945C8344D78D40EB1D6FE" />
            <ComponentRef Id="cmp14650183C4CC782769B4A578CE449C5F" />
            <ComponentRef Id="cmp07C741438ED3E5E64E734E60408EF1E0" />
            <ComponentRef Id="cmp55D28E328F2AFE29BD54760B629E6765" />
            <ComponentRef Id="cmp43369FD8D9A3E67686EAD29E0BE7843A" />
            <ComponentRef Id="cmp2421A28F7212565BA2544CF417122EFE" />
            <ComponentRef Id="cmp56FD567EA4C52EAE8A412C516F3DB28F" />
            <ComponentRef Id="cmp97A4B954355C7405747F78D7B08026F8" />
            <ComponentRef Id="cmpB655303041B4177595C5CF444F6FC541" />
        </ComponentGroup>
    </Fragment>
</Wix>